body,div,ul,li,p,h1,h2,h3,input,button{
	padding: 0px;
	margin: 0px;
}

.hwl-big{
	position: relative;
}
.hwl-one{
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/*border: 1px solid black;*/
}
.hwl-one-tou{
	height: 80px;
	width: 1200px;
	margin: 0 auto;
	/*position: relative;*/
	background-color: yellow;
}
.hwl-one-1{
	/*position:absolute;*/
	width: 500px;
	height: 80px;
	text-align: center;
	/*border: 1px solid black;*/
	display: inline-block;
	float: left;
}
.hwl-one-1 img{
	margin-top: 35px;
}
.hwl-one-2{
	/*position:absolute;
	left: 500px;*/
	width: 700px;
	height: 80px;
	/*line-height: 80px;*/
	text-align: center;
	/*border: 1px solid black;*/
	display: inline-block;
	float: left;
	position: relative;
}
.hwl-one-2 ul{
	list-style: none;
}
.hwl-one-2 ul li{
	display: inline-block;
	width: 140px;
	height: 80px;
	/*line-height: 80px;*/
	float: left;
	padding-top: 55px;
	text-align: center;
}
.hwl-one-2-li{
	background: url(img/home.png) no-repeat center 55px;
}
.hwl-one-2-div{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 72px;
	left: 63px;
	background: red;
	 -webkit-clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);
	 z-index: 10;
}
.hwl-one-body{
	width: 100%;
	height: 900px;
	background: url(img/bg1.jpg);
	position: relative;
}
.hwl-one-body .hwl-one-body-content{
	width: 1100px;
	height: 520px;
	background-color: rgb(220,108,95);
	position: absolute;
	left: 50%;
	margin-left: -550px;
	top: 50%;
	margin-top: -260px;
}
.hwl-one-body-content p{
	height: 480px;
	color: #fff;
	font-size: 80px;
	text-align: center;
	line-height: 400px;
	border: 1px solid black;
}
.hwl-one-body-content ul{
	width: 1100px;
	text-align: center;
}
.hwl-one-body-content li{
	display: inline-block;
}
.hwl-one-body-content li div{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: skyblue;
}
.hwl-one-body-move{
	width: 30px;
	height: 150px;
	position: absolute;
	background-color: yellow;
	top: 50%;
	margin-top: -75px;
	right: 10px;
}
.hwl-one-body-move ul{
	list-style: none;
}
.hwl-one-body-move li{
	width: 20px;
	height: 20px;
	padding: 5px;
}
.hwl-one-body-move li div{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: skyblue;
}
  

 /*飒飒的第三个页面*/
.ys_box{
        position: absolute;
        width: 100%;
        height: 900px;
        background: url(img/bg3.jpg);
        top: 80px;
        

}
.ys_content{
	        font: 900 60px/60px "宋体";
	        color: skyblue;
	        position: absolute;
	        top: 40%;
	        left: 20%;
         /* border: 1px solid black;*/
          width: 1200px;
          height: 500px;
}

.ys_content .ys_ul{
       list-style: none;
       overflow: hidden;
       position: absolute;
       bottom: 60px;
       left: 0px;
       z-index: 1;


}
.ys_ul div:nth-child(1),.ys_ul div:nth-child(2){
                         width: 219px;
                         height: 133px;
                         overflow: hidden;
}
.ys_ul div:nth-child(3){
                        width: 222px;
                        height: 132px;
                        overflow: hidden;
}
.ys_ul div:nth-child(4){
                        width: 332px;
                        height: 132px;
                        overflow: hidden;
}
.ys_ul div{
           float: left;
           cursor: pointer;
}
.ys_ul li:nth-child(1){
                       transition: all 1s ease 0s;
                       position: relative;
                     
}
.ys_ul li:nth-child(2){
                       transition: all 1s ease 0s;
                       position: relative;
                      /* overflow: hidden;*/
                      border: 3px solid blue;
}
.ys_ul li:nth-child(3){
                       transition: all 1s ease 0s;
                       position: relative;
                      /* overflow: hidden;*/
}
.ys_ul li:nth-child(4){
                       transition: all 1s ease 0s;
                       position: relative;
                      /* overflow: hidden;*/
}
.ys_ul li:nth-child(3):hover{
                             transform: scale(1.2,1.2)rotate(-5deg);
                           /*  transform: rotate(45deg);*/
}

.ys_ul li:nth-child(4):hover{
                             transform: scale(1.2,1.2)rotate(-5deg);
                           /*  transform: rotate(45deg);*/
}
.ys_ul li:nth-child(2):hover{
                             transform: scale(1.2,1.2)rotate(-5deg);
                           /*  transform: rotate(45deg);*/
}
.ys_ul li:nth-child(1):hover{
                             transform: scale(1.2,1.2)rotate(-5deg);
                           /*  transform: rotate(45deg);*/
}
.ys_ul li:nth-child(1)::before{
                               content: "computer";
                               display: block;
                               width: 219px;
                               height: 133px;
                               background: gray;
                               opacity: 0;
                               position: absolute;
                               top: 0px;
                               left: 0px;
                               font: 600 40px/133px "宋体";
                               color: red;
                               text-align: center;
                               transition: all 1s ease 0s;
}
.ys_ul li:nth-child(2)::before{
                               content: "book";
                               display: block;
                               width: 222px;
                               height: 130px;
                               background: gray;
                               opacity: 0;
                               position: absolute;
                               top: 0px;
                               left: 0px;
                               font: 600 40px/133px "宋体";
                               color: red;
                               text-align: center;
                               transition: all 1s ease 0s;
}


.ys_ul li:nth-child(1):hover::before{
                                     opacity: 0.8;
}

.ys_picture{
            width: 800px;
            position: absolute;
            top: 10px;
            left: 20%;
            height: 300px;
}
.ys_picture img:nth-child(1){
                             position: absolute;
                             top: 0px;
                             left: 40px;
}
.ys_picture img:nth-child(2){
                             position: absolute;
                             top: 150px;
                             left: 0px;
}
.ys_picture img:nth-child(3){
                             position: absolute;
                             bottom: 5px;
                             left: 40%;
                             animation: yidong 2s linear 0s infinite alternate;

}
/*机器人的动画*/
@-webkit-keyframes yidong{
                          from{ left: 40%; }
                          to{left:70%;}
}
.ys_picture img:nth-child(4){
                             position: absolute;
                             bottom: -160px;
                             left: 50%;
                             /*z-index: -1;*/

}